%button.btn.btn-primary.btn-lg{:data => {:toggle => "modal", :target => "#orderModal"}} Track Your Order

.modal.fade#orderModal{tabindex: "-1", role: "dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" => "true"}
  .modal-dialog
    .modal-content
      .modal-header
        %button{type: "button", :class => "close", "data-dismiss" => "modal", "aria-hidden" => "true"} &times;
        %h4.modal-title#myModalLabel Track your DHL and FedEx Orders
      .modal-body
        = render "/order_tracker/orders/find_order_form"
      .modal-footer
        %button{type: "button", :class => "btn btn-default", "data-dismiss" => "modal"} Close