<!DOCTYPE html>
<html>
<head>
  <title>OrderTracker</title>
  <%= stylesheet_link_tag    "order_tracker/application", :media => "all" %>
  <%= javascript_include_tag "order_tracker/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
